* {
  justify-content: center;
  text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.margin {
  margin-bottom: 150px;
}

.down {
  margin-top: 150px;
}

body {
  background-color: aquamarine;
}
