* {
  justify-content: center;
  text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.margin {
  margin-bottom: 150px;
}

.down {
  margin-top: 150px;
}

body {
  background-image: url("./images/road.png");
  background-color: powderblue;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 700px;
}
